@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

body {
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
}

.leaflet-bottom.leaflet-right .leaflet-control-scale {
  margin-right: 200px;
  margin-bottom: calc(24px + env(safe-area-inset-bottom, 0px));
}
